<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>RAAKA-AINEET</h1>
        
        <h2><p>Raaka-aineet jotka eiv&auml;t viel&auml; sis&auml;lly mihink&auml;&auml;n reseptiin</p></h2>
        <table>
            
        <tr th:each="raakaaine : ${raakaaineetEiKaytossa}">
            <td>
                <span th:text="${raakaaine.nimi}">jotain?</span>
            </td>
            <td>
                <form method="POST" action="/poistaraakaaine">
                    <input type ="submit" value="poista"/>
                    <input type ="hidden" name ="raakaaine" th:value ="${raakaaine.id}"/>
                </form>
            </td>
        </tr>
        </table>

        <h2><p>Raaka-aineet, jotka sis&auml;ltyv&auml;t resepteihin</p></h2>

        <table>
            <tr><th>raaka-aine</th><th>reseptit</th></tr>
        <tr th:each="raakaaine : ${raakaaineetKaytossa}">
            <td><span th:text="${raakaaine.nimi}">nimi?</span></td>
            <td><a th:href="@{~/reseptitraakaaineelle/{id}(id=${raakaaine.id})}"><span th:text="${raakaaine.reseptienMaara}">reseptien maara?</span></a></td>
        </tr>
        </table>       
        
  <br/>
   <br/>
    <br/>
    <h2>Anna raaka-aineen nimi</h2>    
        <form method="POST" action ="/raakaaineet">
            <input type ="text" name ="nimi"/><br/>
            <input type ="submit" value ="Lis&auml;&auml;!"/>
        </form>
        <br/>
        <a href="/">Reseptilistaukseen</a><br/>
        <a href="/reseptit">Reseptien p&auml;ivitykseen</a>
    </body>
</html>
